<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <title>CAV</title>
        
        <link rel="stylesheet" href="/css/newProduct.css">
        </link>
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <form action="/editProduct/<%= product.id_product %>?_method=PUT" method="post"  enctype="multipart/form-data">
                <div class="titulo">
                    <h2 for="name">Editar producto</h2>
                    <h3>Es fácil y rápido</h3>
                </div>
                <div class="text_input">
                <fieldset id='id'>
                    <label><b>ID de producto</b></label>
                    <input type="text" name="id" id="id" value="<%= product.id_product %>">
                </fieldset>


                <fieldset>
                    <label><b>Nombre de producto</b></label>
                    <input type="text" name="name" id="name" value="<%= product.name %>">
                </fieldset>

                <label id="description"><b>Descripción</b></label>
                
                <fieldset>
                    <textarea name="description" id="description" placeholder="<%= product.description %>"></textarea>
                </fieldset>

                <fieldset>
                    <figure><img src="/uploads/products/<%=product.image%>" alt=""></figure>
               
                    <label><b>Ajuntar imagen</b></label>
                    <input type="file" name="image" id="image" required>
                </fieldset>

                
                 <fieldset>
                    <label><b>Marca</b></label>
                    <input list="brand" name="brand" placeholder="<%= product.id_brand %>">
                </fieldset>

                <fieldset>
                    <datalist id="brand">
                        <option value="Alacena">
                        <option value="Bebidas">
                        <option value="Congelados">
                    </datalist>

                <fieldset>
                    <label><b>Categoría</b></label>
                    <input list="category" name="category" placeholder="<%= product.id_category %>">
                </fieldset>

                <fieldset>
                    <datalist id="category">
                        <option value="Alacena">
                        <option value="Bebidas">
                        <option value="Congelados">
                    </datalist>

                    <label><b>Precio</b></label>
                    <input type="number" min="0" name="price" id="price" id="name" value="<%= product.price %>">
                </fieldset>
             </div>
                <fieldset>
                    <button type="submit">Editar producto</button>
                    <button type="submit"><a href="/deleteProduct/<%= product.id_product %>">Eliminar producto</a></button>
                </fieldset>

            </form>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>