<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <title>Detalle del producto</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            
            <section class="miniaturas">
              
                <figure>

                    <img src="/uploads/products/<%= product.image%>" class="imagenes"></img>
                    <img src="/uploads/products/<%= product.image%>" class="imagenes"></img>
                    <img src="/uploads/products/<%= product.image%>" class="imagenes"></img>

                </figure>
         
        </section>
        <section class="fotoProducto">
                                
                <% if (product.image) { %>
                    <figure><img src="/uploads/products/<%= product.image%>" class="foto"  alt=""></figure>
                    <% } else { %>
                        <figure><img src="/images/default.jpg" alt="" class="imagenes"></img>></figure>
                        <% } %>
            <figure>
              
                <figcaption>
                    <p class='porcentaje'>10% off</p>
                </figcaption>
            </figure>
           
        </section>
        <section class="detalleProducto">
            <section class="caracteristicaProducto">
                <article>
                    <h2>
                        <%= product.name %>
                    </h2>
                    <h3>
                        <%= marca.name_brand %>
                    </h3>
                    <h3>Código producto: <%= product.id_product %>
                    </h3>
                    <p>
                        <%= product.description %>
                    </p>
                    <p>$<%= product.price %>
                    </p>
                </article>
            </section>
            <section class="cantidadCarrito">
                <form>
                    <input type="number" min="0" placeholder="0">

                    <button type="submit"><a href='/productCart'>IR AL CARRITO</a></button>
                    <button type="submit"><a href="/editProduct/<%= product.id_product %>">EDITAR
                            PRODUCTO</a></button>
                </form>
            </section>
        </section>

            

        </main>
        <%- include("../partials/footer") %>
</body>

</html>