<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>CAV - Mi Carrito</title>
    <link rel="stylesheet" href="/css/productCart.css"></link>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
    <!--
        <nav>

            <input type="text" name="busqueda" placeholder="¿Qué estas buscando?" class="search">
            <i class="fas fa-search"></i>
            
        </nav>
            
            <h2>Mi Carro de compras</h2>
            

        <form >
            <article>
               <img src="/skus/1587.jpg" alt="" >
                    <h4>Alfajor Chocoarroz blanco 20 uni.</h4>
                    <h3>20</h3>
                    <h3>$31,00</h3>
                    <i class="far fa-trash-alt"></i>
            </article>   

            <article>
                <img src="/skus/2228.jpg" alt="" >
                
                    <h4>Gelatina de Franguesa 40g.</h4>
                    <h3>3</h3>
                    <h3>$43,58</h3>
                    <i class="far fa-trash-alt"></i>
               
            </article>   
            <article>
                <img src="/skus/7130.jpg" alt="" >
                
                    <h4>Formitas de pollo Lucchetti 350g.</h4>
                    <h3>4</h3>
                    <h3>$174,01</h3>
                    <i class="far fa-trash-alt"></i>
               
            </article>   

            <div class="total"> Total $ 1800.00</div>

            <input type="submit" value="PAGAR ">  
        </form>   
        
       -->

        <ul>
            <% products.forEach(product => { %>
                <li>
                    <span><%= product.name  %> </span>
                    <span><%= product.price  %> </span>
                <form action='productCart/add' method='post'>
                        <input type='hidden' name='product' id='product' value=<%= product.id_product %> >
                        <input type='hidden' name='user' id='user' value=<%= user.id %> >
                        <input type='number' name='cantidad' id='cantidad' value='1' min='1' >
                        <button type='submit'>AGREGAR</button>
                </form>
                </li>
            <% }) %>
        </ul>

        <% if (pedido.length > 0) { %>
            <ul>
                <% pedido.forEach(item => { %>
                    <li>
                        <span><%= item.product.name  %> </span>
                        <span><%= item.product.price  %> </span>
                    <form action='/productCart' method='post'>
                            <input type='hidden' name='product' id='product' value=<%= product.id_product %> >  
                            <input type='number' name='cantidad' id='cantidad' value='1' min='1' >
                            <button type='submit'>AGREGAR</button>
                    </form>
                    </li>
                <% }) %>
            </ul>        
        <% } %>
      
       
    </main>
    <%- include("../partials/footer") %>
</body>
</html>