<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %> 
    <title>CAV</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<%- include("./partials/header") %>

<body>
    <main>
        <form>
            <input type="text" name="busqueda" placeholder="¿Qué estas buscando?" class="search">
            <i class="fas fa-search"></i>
        </form>
        <h2>DESTACADOS DEL MES</h2>
        <section>
            <% for (let i = 0; i< product.length; i++) {%>
                <article class="article">
                    <% if (product[i].image) { %>
                        <figure><img src="/uploads/products/<%= product[i].image%>" alt=""></figure>
                        <% } else { %>
                            <figure><img src="/images/default.jpg" alt=""></figure>
                            <% } %>
                                <section>
                                    <p>
                                        <%= product[i].name %>
                                    </p>
                                    <p>$<%= product[i].price %>
                                    </p>
                                    <div class="botones-home">
                                        <span class="botones"><a href="/productDetail/<%= product[i].id_product %>"><i
                                                    class="far fa-eye"></i>DETALLES</span></a>
                                        <a href="productCart"><span class="botones"><i
                                                    class="fas fa-shopping-cart"></i>COMPRAR</span></a>
                                    </div>

                                </section>
                </article>
                <% } %>
        <!-- 
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/1084.jpg" alt="producto">
                    <p>Fideos Rina Matarazzo Spaghetti 500 Gr</p>
                    <p class="precio">$110,46</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="#"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
            </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/5321.jpg" alt="producto">
                    <p>Queso cremoso La Paulina x kg.</p>
                    <p class="precio">$799,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
            </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2210.jpg" alt="producto">
                    <p>Gelatina Exquisita light sabor frutilla</p>
                    <p class="precio">$59,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2014.jpg" alt="producto">
                    <p>Premezcla Blancaflor pan de Calabaza 300gr.</p>
                    <p class="precio">$120,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/1879.jpg" alt="producto">
                    <p>Mate cocido Chamigo x 50 saquitos</p>
                    <p class="precio">$91,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2011.jpg" alt="producto">
                    <p>Premezcla Blancaflor ñoquis de papa 350gr.</p>
                    <p class="precio">$215,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/1586.jpg" alt="producto">
                    <p>Caja chocoarroz x 24 unidades</p>
                    <p class="precio">$980,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2497.jpg" alt="producto">
                    <p>Endulzante Hileret bonarda 160gr.</p>
                    <p class="precio">$54,00</p>
                    <div class="botones-home">
                        <a href="productList"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>  -->
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>