<!DOCTYPE html>
<html lang="en">
<head>
    <title>REGISTRATE</title>
    <link rel="stylesheet" href="/css/userEdit.css"></link>
</head>
<body> 
    <%- include("../partials/header") %> 
    <main>

        <form class="editar" action="/usuario/updatePassword/<%= user.id %>" method="POST" enctype="multipart/form-data">                         
        
           
             <fieldset>
            <legend><b>Nueva Contraseña</b></legend>
            <label for="password"></label>
            <input type="password" name="newPassword" id="newPassword" required>
        </fieldset>
             <!-- validacion -->
             <div class="erroresNewPassword">
                <ul><% if (locals.errors && errors.newPassword) { %>
                    <div class="feedback"><%= errors.newPassword.msg %> </div>
                   <% } %></ul>
            </div>


        
        <fieldset>
            <legend><b>Confirmar contraseña</b></legend>
            <label for="password"></label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword" required>
        </fieldset>
        <!-- validacion -->
        <div class="erroresConfirmNewPassword">
            <ul><% if (locals.errors && errors.confirmNewPassword) { %>
                <a class="feedback"><%= errors.confirmNewPassword.msg %> </a>
               <% } %></ul>
        </div>
        
        <p class="formPass">El password debe contener al menos 8 digitos</p>
             
                <input type="submit" value="Modificar password">  
                
 
              
            
        </form>
    </main>
    <%- include("../partials/footer") %>
    <script src='/js/validateNewPassword.js' type='text/javascript'></script>
</body>
</html>