<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <title>CAV</title>
        <link rel="stylesheet" href="/css/index.css">
        </link>
        <link rel="stylesheet" href="/css/login.css">
        </link>

</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <figure><img src=\uploads\avatars\fotoPerfil-1625694265904.jpg alt=""></figure>
            <p> Foto Perfil</p>

           

                <fieldset>
                    
                    
                    <p>Nombre:<%=  user.name1 %></p>
                    <p>email:<%=  user.email%></p>
                    <p>domicilio:<%=  user.domicilio%></p>
                    <p>tipo:<%=  user.tipo%></p>
                    <p>interes:<%=  user.interes%></p>
                    <p>fechaNacimiento:<%= user.fechaNacimiento%></p>
                    <p>password:<%= user.password%></p>
                    <p>confirmPassword:<%= user.confirmPassword%></p>
                   
                    
                    <button type="submit"><a href="/usuario/edit/<%= user.id %>">EDITAR USUARIO</a></button>
                  
                </fieldset>
            </form>

            <form action='/usuario/perfil?_method=DELETE' method="POST">
                <button type="submit">Borrar perfil</button>
            </form>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>