<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <title>CAV</title>
        <link rel="stylesheet" href="/css/index.css">
        </link>
        <link rel="stylesheet" href="/css/login.css">
        </link>

</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <figure><img src="/uploads/avatars/fotoPerfil-1625185648888.JPG" alt=""></figure>
            <p> Foto Perfil<!--%= users.fotoPerfil %>--></p>
            <form action="/usuario/perfil" method="POST" enctype="multipart/form-data">

                <fieldset>
                    
                    <p>Nombre:<%=  user.name %></p>
                    <p>email:<%=  user.email%></p>
                    <p>domicilio:<%=  user.domicilio%></p>
                    <p>tipo:<%=  user.tipo%></p>
                    <p>interes:<%=  user.interes%></p>
                    <p>fechaNacimiento:<%= user.fechaNacimiento%></p>
                    <p>password:<%= user.password%></p>
                    <p>confirmPassword:<%= user.confirmPassword%></p>
                   
                    <button type="submit">Editar perfil</button>
                  
                </fieldset>
            </form>

            <form action='/usuario/perfil?_method=DELETE' method="POST">
                <button type="submit">Borrar perfil</button>
            </form>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>