<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>REGISTRATE</title>
        <link rel="stylesheet" href="/css/register.css">
        </link>
</head>

<body>
    <%- include("../partials/header") %>
        <main>


            <form class="register" action="/usuario/registro" method="POST" enctype="multipart/form-data">
                <div class="titulo">
                    <h2 for="name">Registrate</h2>
                    <h3>Es f치cil y r치pido</h3>
                </div>
                <div class="text_input">
                    <fieldset>
                        <legend><b>Nombre y apellido</b></legend>
                        <label for="name"></label>
                        <input type="text" name="name" id="name"
                            value='<%= locals.old && old.name ? old.name : null %>'>
                        <% if (locals.errors && errors.name) { %>
                            <div class="feedback">
                                <%= errors.name.msg %>
                            </div>
                            <% }%>

                    </fieldset>

                    <fieldset>
                        <legend><b>Correo electronico</b></legend>
                        <label for="email"></label>
                        <input type="email" name="email" id="email"
                            value='<%= locals.old && old.email ? old.email : '' %>'>
                        <% if (locals.errors && errors.email) { %>
                            <div class="feedback">
                                <%= errors.email.msg %>
                            </div>
                            <% }%>

                    </fieldset>


                    <fieldset>
                        <legend><b>Domicilio</b></legend>
                        <label for="domicilio"></label>
                        <input type="text" name="domicilio" id="domicilio"
                            value='<%= locals.old && old.domicilio ? old.domicilio : '' %>'>
                        <% if (locals.errors && errors.domicilio) { %>
                            <div class="feedback">
                                <%= errors.domicilio.msg %>
                            </div>
                            <% }%>
                    </fieldset>

                    

                            <fieldset >
                                <legend><b>Tipo de Comercio</b></legend>
                            
                                <select id="tipo" placeholder="tipo" name="id_tipo">
                                    <% for (let i=0; i< tipo.length; i++){ %>
                
                                        <option value='<%= tipo[i].id_tipo %>'>
                                            <%=tipo[i].tipo_nombre %>
                                        </option>
                                        <% } %>
                
                                </select>
                            </fieldset>
                
                            <fieldset >
                                <legend><b>Rubros de interes</b></legend>
                            
                                <select id="rubro" placeholder="rubro" name="id_rubro">
                                    <% for (let i=0; i< rubro.length; i++){ %>
                
                                        <option value='<%= rubro[i].id_rubro %>'>
                                            <%=rubro[i].rubro_nombre %>
                                        </option>
                                        <% } %>
                
                                </select>
                            
               
     
                <div class="text_input">

                    <fieldset class="fotoperfil">
                        <legend><b>Foto de perfil</b></legend>
                        <label for="foto"></label>
                        <input type="file" name="fotoPerfil" id="foto perfil"
                            value='<%= locals.old && old.fotoPerfil ? old.fotoPerfil : '' %>'>
                        <% if (locals.errors && errors.fotoPerfil) { %>
                            <div class="feedback">
                                <%= errors.fotoPerfil.msg %>
                            </div>
                            <% }%>
                    </fieldset>

                    <fieldset>
                        <legend><b>Fecha de nacimiento</b></legend>
                        <label for="date"></label>
                        <input type="date" name="fechaNacimiento" id="fecha nacimiento"
                            value='<%= locals.old && old.fechaNacimiento ? old.fechaNacimiento : '' %>'>
                        <% if (locals.errors && errors.fechaNacimiento) { %>
                            <div class="feedback">
                                <%= errors.fechaNacimiento.msg %>
                            </div>
                            <% }%>
                    </fieldset>

                    <fieldset>
                        <legend><b>Contrase침a</b></legend>
                        <label for="password"></label>
                        <input type="password" name="password" id="password">
                        <% if (locals.errors && errors.password) { %>
                            <div class="feedback">
                                <%= errors.password.msg %>
                            </div>
                            <% }%>

                    </fieldset>

                    <fieldset>
                        <legend><b>Confirmar contrase침a</b></legend>
                        <label for="password"></label>
                        <input type="password" name="confirmPassword" id="confirmPassword">
                        <% if (locals.errors && errors.confirmPassword) { %>
                            <div class="feedback">
                                <%= errors.confirmPassword.msg %>
                            </div>
                            <% }%>
                    </fieldset>
                    <div>
                    <input type="submit" class='boton' value="Crear">
                    </div>
                    <div>
                    <input type="reset" class='boton' value="Reset">
                    </div>
                </div>

            </form>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>